<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">Sample</a>
  <ul class="nav navbar-nav float-sm-right">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">◯ ◯ さん</a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">設定1</a>
          <a class="dropdown-item" href="#">設定2</a>
          <a class="dropdown-item" href="#">設定3</a>
        </div>
      </li>
  </ul>
</nav>
