<ul class="nav nav-pills nav-stacked bg-faded">
  <li class="nav-item">
    <a class="nav-link active" href="#">ホーム</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">メニュー1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">メニュー2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">メニュー3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">メニュー4</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
